transformers==4.37.2
transformers_stream_generator==0.0.4
tokenizers==0.15.0
huggingface-hub==0.21.3
datasets==2.14.7
gradio==4.19.2
gradio_client==0.10.1
peft==0.9.0
httpx==0.24.1
einops==0.6.1
einops-exts==0.0.4
timm==0.9.16
pydantic==2.6.1
pillow==10.2.0
scikit-learn==1.2.2
easygui
open_clip_torch
modelscope
tiktoken==0.6.0
optimum==1.17.1
#apex==0.9.10.dev0